<div *ngIf="display">
  <div style="margin: 8px; background-color: lightblue; border-radius: 3px; width: 200px">
    <form (ngSubmit)="addAuthorities()">

      <input type="checkbox" id="isStudentm" value="option1" [checked]="isStudent"
             (change)="isStudent = !isStudent">
      <label for="isStudentm">Student</label>
      <br>
      <input type="checkbox" id="isTeacherm" value="option2" [checked]="isTeacher"
             (change)="isTeacher = !isTeacher">
      <label for="isTeacherm">Teacher</label>
      <br>
      <input type="checkbox" id="isAdminm" value="option3" [checked]="isAdmin"
             (change)="isAdmin = !isAdmin">
      <label for="isAdminm">Admin</label>
      <br>
      <br>
      <button type="submit" class="btn btn-primary" style="margin: 5px">Submit</button>
    </form>
  </div>
</div>
