<div style="alignment: center; text-align: center">
  <ng-container *ngFor="let room of rooms">
    <button class="btn btn-info" style="margin: 1%" (click)="updateReservations(room.roomNumber)">{{room.roomNumber}}</button>
  </ng-container>

  <br>

  <button class="btn btn-outline-danger" (click)="previousWeek()"><= Previous</button>
  {{firstDayOfWeek.toDateString()}} - {{lastDayOfWeek.toDateString()}}
  <button class="btn btn-outline-danger" (click)="nextWeek()">Next =></button>

  <br>

  <table class="table" style="margin-top: 1%">
    <thead>
    <tr>
      <th scope="col" style='text-align:center; vertical-align:middle'>Hour/Day</th>
      <ng-container *ngFor="let day of days">
      <th scope="col" style='text-align:center; vertical-align:middle'>{{day}}</th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hour of hours; let hIndex=index">
      <th scope="row" style='text-align:center; vertical-align:middle'>{{hour}}</th>
      <ng-container *ngFor="let day of days; let dIndex=index">
        <td style='text-align:center; vertical-align:middle'>
          <ng-container *ngFor="let reservation of getReservationsForCell(dIndex, hIndex)">
          <button class="btn btn-outline-info" style="margin: 2%">
            <h5>{{reservation.beginTime}}-{{reservation.endTime}}</h5>
            <br>
            <h6>{{reservation.userNick}}</h6>
            <br>

          </button>
          <br>
          </ng-container>
        </td>
      </ng-container>

    </tr>
    </tbody>
  </table>
</div>


